.check{
    width: auto;
    height: 450px;
    border: 2px solid black;
    background-color: aqua;
    display: inline-block;
    text-decoration: none;
    
}

.check div{
    width: 250px;
    height: 150px;
    background-color: blueviolet;
}
.img{
    width: 100%;
    /* height: 45px; */
    /* cursor: pointer; */
}